@CHARSET "ISO-8859-1";

@font-face {
	font-family: Delicious;
	src: url(fonts/Delicious-Roman.otf);
}

@font-face {
	font-family: Delicious;
	src: url(fonts/Delicious-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: Delicious;
	src: url(fonts/Delicious-BoldItalic.otf);
	font-weight: 700;
}

@font-face {
	font-family: Delicious;
	src: url(fonts/Delicious-Heavy.otf);
	font-weight: 800;
}

@font-face {
	font-family: Delicious;
	src: url(fonts/Delicious-Italic.otf);
	font-weight: 500;
}

@font-face {
	font-family: Delicious;
	src: url(fonts/Delicious-SmallCaps.otf);
	font-weight: 400;
}

header, section, footer, aside, nav, main, article, figure { 
	display: block; 
}

.container {
	width: 95%;
	margin: auto;
}

body {
/* 	https://www.flickr.com/photos/ip4a/ */
	background-image: url("images/f07umk5.png");
	font-family: Delicious, Sans-Serif, serif;
}

.textCenter {
	text-align: center;
}

.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear: both;
}