html{
	height: 100%;
}

body {
	height: 100%;
    margin: 0;
	font-family: Delicious, Sans-Serif, serif;
}

.markup {
	background-image: url("../global/images/mazjrz0.png");
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0.1em #538895;
    text-align: inherit;
    display: inline-block;
    margin: 1em;
}

a {
	text-decoration: none;
	color: white;
	text-align: center;
}
